<%- include("header") -%>
<div class="box">
	<form class="form-signin" action="/" method="post">
		<img class="mb-4" src="/img/logo.png" alt="">
		<div class="box" id="heading">
			<h1 class="h3 mb-3 font-weight-normal"><%= Document %></h1>
		</div>
		<input id="number" class="form-control" type="text" value="<% if (item) { %><%= item.number%><% } %>" name="itemNumber" placeholder="Number">
		<input id="date" class="form-control" type="text" value="<% if (item) { %><%= item.date%><% } %>" name="itemDate" placeholder="Date">
		
		<div class="button-box">
			<button class="btn btn-lg btn-primary btn-lg btn-block" type="submit" name="item">Save</button>
			<a class="btn btn-success btn-lg btn-block" onClick = "generatePdf();">Generate PDF</a>
		</div>
	</form>

	<div class="form-group">
		<div class="btn-group" data-toggle="buttons" class="col-lg-3 col-lg-offset-10">
	    <label class="btn btn-default **active**">
	    <input type="radio" name="inputWalls" class="doc" value="Estimate" checked>  Estimate</label>
	    <label class="btn btn-default">
	    <input type="radio" name="inputWalls" class="doc" value="Invoice">  Invoice</label>
	    <label class="btn btn-default">
	    <input type="radio" name="inputWalls" class="doc" value="Contract">  Contract</label>
	  </div>
	</div>

	<form action="/delete" method="post">
		<div class="button-box">
			<button class="btn btn-link" type="submit" name="id" value="<% if (item) { %><%= item._id%><% } %>">Remove</button>
		</div>
	</form>

</div>
<script type="text/javascript">

var docType = 'Estimate';
var docs = document.getElementsByClassName('doc');
for(var i = 0; i < docs.length; i++){
    docs[i].onclick = function(){
    	console.log(this.value);
    		docType = this.value;
    }
}

function generatePdf(){
if (docType === "Estimate") {

	var docDefinition = {
	content: [{text: 'Estimate', style: 'type'}, {<%- include("logo") -%>},
	{ style: 'header', stack: [{ style: 'date', table: { body: [
				[{text: 'Date', fillColor: '#dddddd'}, {text: 'Estimate #', fillColor: '#dddddd'}],
				[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ style: 'customer', stack: [{ style: 'table2', table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', sytle: 'title', fillColor: '#dddddd'}, {text: 'CUSTOMER', fillColor: '#dddddd'}],
		[ {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
				]}, {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
		]}]]}}]},
	{style: 'tableServices', table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', fillColor: '#dddddd', colSpan: 4, alignment: 'center'}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: 'circle'},
				{text: 'General Repair', listType: 'dot'},
				{text: 'Basement Door', listType: 'circle'}
			]}, {ul: [
				{text: 'Fire Escapes', listType: 'circle'},
				{text: 'Awnings', listType: 'dot'},
				{text: 'Railings', listType: 'circle'}
			]}, {ul: [
				{text: 'Fences', listType: 'circle'},
				{text: 'Stairs', listType: 'dot'},
				{text: 'Gates', listType: 'circle'}
			]}, {ul: [
				{text: 'Security Door', listType: 'circle'},
				{text: 'Window Guards', listType: 'dot'},
				{text: 'Other Services', listType: 'circle'}
	]}]]}},
	{style: 'tableDescription', table: { heights: ['', 170, 30, 30, 30], widths: [250, 120, '*'], body: [
	[{ text: 'Description', fillColor: '#dddddd', alignment: 'center' }, {text: 'Worksite', fillColor: '#dddddd', alignment: 'center' }, {text: 'Total', fillColor: '#dddddd', alignment: 'center' }],
	[{ type: 'none', ul: [
					{text: 'Service of:', margin: [0, 0, 0, 10], },
					'Design, manufacture and Installation Motorized Wrought Iron Sliding Gate.'
				]},
				{ type: 'none', ul: [
			'536 N Walnut St',
			'East Orange, NJ'
		]}, { type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
		[{border: [false, false, false, false], text: ''},
			{text: 'Subotal', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
			{text: 'Tax 6.625%', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
	{text: 'Total', style: 'total'},
	{type: 'none', ul: [
	{text: '$2800.00', style: 'total'},
	]}]]}},
	{style: 'tableNote', table: { widths: ['*'], body: [
		[{text: 'SUMMARY OF SERVICES', fillColor: '#dddddd', alignment: 'center' }],
		[{text: 'This proposal is valid for 15 days following the date above. Estimated completion date is within 2 to 3 weeks from the date the contract is signed (possibility of delay due to unforeseen circumstances and interferences). A down payment is required when signing the contract (maximum of 3 days for a late payment if not given at signing). Down payment will be 50% of the total price and is non-refundable. The remaining 50% must be given once the service is complete. Any unforeseen or unnegotiated addition of work will be documented and may increase the total price. Please note that all items ordered in iron will rust.', style: 'note' }]]}}
	],
	styles: {
		type: {
			bold: true,
			margin: [340, 30, 0, 0],
			alignment: 'center',
			fontSize: 24
		},
		note: {
			fontSize: 9,
			alignment: 'center',
		},
		total: {
			bold: true,
			alignment: 'center',
			margin: [-10, 6, 0, 0]
		},
		header: {
			bold: true,
			alignment: 'right',
			margin: [360, -50, 0, -80]
		},
		date: {
			alignment: 'center'
		},
		customer: {
			alignment: 'center',
			margin: [0, 120, 0, 0]
		},
		tableServices: {
			fontSize: 10,
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableDescription: {
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableNote: {
			alignment: 'left',
			margin: [0, 30, 0, 0]
		},
	}
	};


} else if (docType === 'Invoice') {

	var docDefinition = {
	content: [{text: 'Invoice', style: 'type'}, {<%- include("logo") -%>},
	{ style: 'header', stack: [{ style: 'date', table: { body: [
				[{text: 'Date', fillColor: '#dddddd'}, {text: 'Invoice #', fillColor: '#dddddd'}],
				[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ style: 'customer', stack: [{ style: 'table2', table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', sytle: 'title', fillColor: '#dddddd'}, {text: 'CUSTOMER', fillColor: '#dddddd'}],
		[ {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
				]}, {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
		]}]]}}]},
	{style: 'tableServices', table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', fillColor: '#dddddd', colSpan: 4, alignment: 'center'}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: 'circle'},
				{text: 'General Repair', listType: 'dot'},
				{text: 'Basement Door', listType: 'circle'}
			]}, {ul: [
				{text: 'Fire Escapes', listType: 'circle'},
				{text: 'Awnings', listType: 'dot'},
				{text: 'Railings', listType: 'circle'}
			]}, {ul: [
				{text: 'Fences', listType: 'circle'},
				{text: 'Stairs', listType: 'dot'},
				{text: 'Gates', listType: 'circle'}
			]}, {ul: [
				{text: 'Security Door', listType: 'circle'},
				{text: 'Window Guards', listType: 'dot'},
				{text: 'Other Services', listType: 'circle'}
	]}]]}},
	{style: 'tableDescription', table: { heights: ['', 170, 30, 30, 30], widths: [250, 120, '*'], body: [
	[{ text: 'Description', fillColor: '#dddddd', alignment: 'center' }, {text: 'Worksite', fillColor: '#dddddd', alignment: 'center' }, {text: 'Total', fillColor: '#dddddd', alignment: 'center' }],
	[{ type: 'none', ul: [
					{text: 'Service of:', margin: [0, 0, 0, 10], },
					'Design, manufacture and Installation Motorized Wrought Iron Sliding Gate.'
				]},
				{ type: 'none', ul: [
			'536 N Walnut St',
			'East Orange, NJ'
		]}, { type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
		[{border: [false, false, false, false], text: ''},
			{text: 'Subotal', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
			{text: 'Tax 6.625%', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
	{text: 'Total', style: 'total'},
	{type: 'none', ul: [
	{text: '$2800.00', style: 'total'},
	]}]]}},
	],
	styles: {
		type: {
			bold: true,
			margin: [340, 30, 0, 0],
			alignment: 'center',
			fontSize: 24
		},
		note: {
			fontSize: 9,
			alignment: 'center',
		},
		total: {
			bold: true,
			alignment: 'center',
			margin: [-10, 6, 0, 0]
		},
		header: {
			bold: true,
			alignment: 'right',
			margin: [360, -50, 0, -80]
		},
		date: {
			alignment: 'center'
		},
		customer: {
			alignment: 'center',
			margin: [0, 120, 0, 0]
		},
		tableServices: {
			fontSize: 10,
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableDescription: {
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableNote: {
			alignment: 'left',
			margin: [0, 30, 0, 0]
		},
	}
	};

} else if (docType === 'Contract') {

	var docDefinition = {
	content: [{text: 'Contract', style: 'type'}, {<%- include("logo") -%>},
	{ style: 'header', stack: [{ style: 'date', table: { body: [
				[{text: 'Date', fillColor: '#dddddd'}, {text: 'Contract #', fillColor: '#dddddd'}],
				[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ style: 'customer', stack: [{ style: 'table2', table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', sytle: 'title', fillColor: '#dddddd'}, {text: 'CUSTOMER', fillColor: '#dddddd'}],
		[ {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
				]}, {type: 'none', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
		]}]]}}]},
	{style: 'tableServices', table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', fillColor: '#dddddd', colSpan: 4, alignment: 'center'}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: 'circle'},
				{text: 'General Repair', listType: 'dot'},
				{text: 'Basement Door', listType: 'circle'}
			]}, {ul: [
				{text: 'Fire Escapes', listType: 'circle'},
				{text: 'Awnings', listType: 'dot'},
				{text: 'Railings', listType: 'circle'}
			]}, {ul: [
				{text: 'Fences', listType: 'circle'},
				{text: 'Stairs', listType: 'dot'},
				{text: 'Gates', listType: 'circle'}
			]}, {ul: [
				{text: 'Security Door', listType: 'circle'},
				{text: 'Window Guards', listType: 'dot'},
				{text: 'Other Services', listType: 'circle'}
	]}]]}},
	{style: 'tableDescription', table: { heights: ['', 170, 30, 30, 30], widths: [250, 120, '*'], body: [
	[{ text: 'Description', fillColor: '#dddddd', alignment: 'center' }, {text: 'Worksite', fillColor: '#dddddd', alignment: 'center' }, {text: 'Total', fillColor: '#dddddd', alignment: 'center' }],
	[{ type: 'none', ul: [
					{text: 'Service of:', margin: [0, 0, 0, 10], },
					'Design, manufacture and Installation Motorized Wrought Iron Sliding Gate.'
				]},
				{ type: 'none', ul: [
			'536 N Walnut St',
			'East Orange, NJ'
		]}, { type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
		[{border: [false, false, false, false], text: ''},
			{text: 'Subotal', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
			{text: 'Tax 6.625%', style: 'total'},
			{ type: 'none', ul: [
			{text: '$2800.00', style: 'total'},
		]}],
	[{border: [false, false, false, false], text: ''},
	{text: 'Total', style: 'total'},
	{type: 'none', ul: [
	{text: '$2800.00', style: 'total'},
	]}]]}},
	],
	styles: {
		type: {
			bold: true,
			margin: [340, 30, 0, 0],
			alignment: 'center',
			fontSize: 24
		},
		note: {
			fontSize: 9,
			alignment: 'center',
		},
		total: {
			bold: true,
			alignment: 'center',
			margin: [-10, 6, 0, 0]
		},
		header: {
			bold: true,
			alignment: 'right',
			margin: [360, -50, 0, -80]
		},
		date: {
			alignment: 'center'
		},
		customer: {
			alignment: 'center',
			margin: [0, 120, 0, 0]
		},
		tableServices: {
			fontSize: 10,
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableDescription: {
			alignment: 'left',
			margin: [0, 10, 0, 0]
		},
		tableNote: {
			alignment: 'left',
			margin: [0, 30, 0, 0]
		},
	}
	};

}
pdfMake.createPdf(docDefinition).open();
}
</script>
<%- include("footer") -%>