<%- include("header") -%>
<div class="box">
	<form class="form-signin" action="/" method="post">
		<div class="text-center">
			<a href="/"><img class="mb-4" src="/img/logo.png" alt=""></a>
			<div class="box" id="heading">
				<h1 class="h3 mb-3 font-weight-normal"><%= Document %></h1>
			</div>
		</div>
		
		<label>Number</label>
		<input id="number" class="form-control" type="text" value="<% if (item) { %><%= item.number%><% } else if (Numberr[0]) { %><%= new Date().getFullYear().toString().substr(-2) %><% if (parseInt(Numberr[0].number.substr(-2)) > 8) {%><%= '-00' %><% } else {%><%= '-000' %><% } %><%= (parseInt(Numberr[0].number.substr(-2)) + 1) %><% } else { %><%= '19-0001' %><% } %>" name="itemNumber" placeholder="Number">
		
		<label>Date</label>
		<input id="date" class="form-control" type="text" value="<% if (item) { %><%= item.date %><% } else { %><%= new Date().getMonth()+1+'/'+new Date().getDate()+'/'+ new Date().getFullYear() %><% }%>" name="itemDate" placeholder="Date">

		<label>Customer</label>
		<div>
			<select id="customerSelect" name="customerSelect" onchange="this.form.submit();">
				<option value="">Choose a customer</option>
				<% dbCustomers.forEach(function(dbCustomers){ %>
				<% if (item) { %>
					<% if (dbCustomers.attn == item.customerSelect) { %>
						<option value="<%=  dbCustomers.attn  %>" selected><%=  dbCustomers.attn  %></p>
					<% } else { %>
						<option value="<%=  dbCustomers.attn  %>"><%=  dbCustomers.attn  %></option>
					<% } %>
				<% } else { %>
					<option value="<%=  dbCustomers.attn  %>"><%=  dbCustomers.attn  %></option>
				<% } %>
				<% }); %>
			</select>
		</div>

		<label>Customer</label>
		<textarea id="customer" class="form-control" type="text" name="itemCustomer" placeholder="Customer" rows="5"><% dbCustomers.forEach(function(dbCustomers){ %><% if (item) { %><% if (dbCustomers.attn === item.customerSelect) { %><%=  dbCustomers.info %><% } %><% } %><% }); %></textarea>

		<label>Worksite</label>
		<textarea id="worksite" class="form-control" type="text" name="itemWorksite" placeholder="Worksite" rows="2"><% if (item) { %><%= item.worksite %><% } %></textarea>

		<label>Summary of services:</label>

		<div>
			<label>General Welding</label>
			<input id="generalWeldingSwitch" name="itemGeneralWelding" type="checkbox" <% if (item) { if (item.generalWelding ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>General Repair</label>
			<input id="generalRepairSwitch" name="itemGeneralRepair" type="checkbox" <% if (item) { if (item.generalRepair ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Basement Door</label>
			<input id="basementDoorSwitch" name="itemBasementDoor" type="checkbox" <% if (item) { if (item.basementDoor ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Fire Escapes</label>
			<input id="fireEscapesSwitch" name="itemFireEscapes" type="checkbox" <% if (item) { if (item.fireEscapes ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Awnings</label>
			<input id="awningsSwitch" name="itemAwnings" type="checkbox" <% if (item) { if (item.awnings ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Railings</label>
			<input id="railingsSwitch" name="itemRailings" type="checkbox" <% if (item) { if (item.railings ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Fences</label>
			<input id="fencesSwitch" name="itemFences" type="checkbox" <% if (item) { if (item.fences ) { %><%= 'checked' %><% } } %>>
		</div>
		
		<div>
			<label>Stairs</label>
			<input id="stairsSwitch" name="itemStairs" type="checkbox" <% if (item) { if (item.stairs ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Gates</label>
			<input id="gatesSwitch" name="itemGates" type="checkbox" <% if (item) { if (item.gates ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Security Door</label>
			<input id="securityDoorSwitch" name="itemSecurityDoor" type="checkbox" <% if (item) { if (item.securityDoor ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Window Guards</label>
			<input id="windowGuardsSwitch" name="itemWindowGuards" type="checkbox" <% if (item) { if (item.swindowGuards ) { %><%= 'checked' %><% } } %>>
		</div>

		<div>
			<label>Other Services</label>
			<input id="otherServicesSwitch" name="itemOtherServices" type="checkbox" <% if (item) { if (item.otherServices ) { %><%= 'checked' %><% } } %>>
		</div>

		<label>Description</label>
		<textarea id="description" class="form-control" type="text" name="itemDescription" placeholder="Description" rows="4"><% if (item) { %><%= item.description %><% } %></textarea>

		<label>Note</label>
		<textarea id="note" class="form-control" type="text" name="itemNote" rows="4"><% if (item) { %><%= item.note %><% } else { %><%= "Estimate time for project completion 3 to 4 weeks" %><% } %></textarea>

		<label>Price</label>
		<input id="price" class="form-control" type="text" name="itemPrice" placeholder="$0.00" value="<% if (item) { %><%= item.price %><% } %>">

		<label>Tax Included</label>
		<input id="taxSwitch" name="itemTax" type="checkbox" <% if (item) { if (item.tax) { %><%= "checked" %><% } } %>>

		<div class="button-box">
			<button class="btn btn-lg btn-primary btn-lg btn-block" type="submit" name="item">Save</button>
			<a class="btn btn-success btn-lg btn-block" onClick = "generatePdf();">Generate PDF</a>
			<a href="/" class="btn btn-lg btn-primary btn-lg btn-block">Back</a>
		</div>
	</form>
	<div class="form-group text-center">
		<div class="btn-group" data-toggle="buttons" class="col-lg-3 col-lg-offset-10">
	    <label class="btn btn-default **active**">
	    <input type="radio" name="inputWalls" class="doc" value="Estimate" checked>  Estimate</label>
	    <label class="btn btn-default">
	    <input type="radio" name="inputWalls" class="doc" value="Invoice">  Invoice</label>
	    <label class="btn btn-default">
	    <input type="radio" name="inputWalls" class="doc" value="Contract">  Contract</label>
	  </div>
	</div>
	<form action="/delete" method="post" class="text-center">
		<div class="button-box">
			<button class="btn btn-link" type="submit" name="id" value="<% if (item) { %><%= item._id%><% } %>">Remove</button>
		</div>
	</form>

<!-- 	<button type="button" onclick="callIt();">Call It</button> -->
</div>

<script type="text/javascript">
// function updateCustomer() {
// 	document.getElementById("customer").innerHTML = document.getElementById("hidden").text;  
// }
	
var docType = 'Estimate';
var docs = document.getElementsByClassName('doc');
for(var i = 0; i < docs.length; i++){
    docs[i].onclick = function(){
    	console.log(this.value);
    		docType = this.value;
    }
}
function generatePdf(){
var customerSelect = document.getElementById("customerSelect");
var customerSelectValue = customerSelect.options[customerSelect.selectedIndex].value;

var subTotalPrice = '$' + (parseFloat(document.getElementById("price").value)).toFixed(2);
var taxPrice;
var totalPrice;
var halfPrice;

if (document.getElementById("taxSwitch").checked) {
	taxPrice = '-';
	totalPrice = '$' + (parseFloat(document.getElementById("price").value)).toFixed(2);
	halfPrice = '$' + (parseFloat(document.getElementById("price").value)/2).toFixed(2);
} else {
	taxPrice = '$' + (parseFloat(document.getElementById("price").value)*0.06625).toFixed(2);
	totalPrice = '$' + ((parseFloat(document.getElementById("price").value)*0.06625)+parseFloat(document.getElementById("price").value)).toFixed(2);
	halfPrice = '$' + (((parseFloat(document.getElementById("price").value)*0.06625)+parseFloat(document.getElementById("price").value))/2).toFixed(2);
}





if (document.getElementById("generalWeldingSwitch").checked) { var generalWelding = 'dot'; } else { var generalWelding = 'circle'; }
if (document.getElementById("generalRepairSwitch").checked) { var generalRepair = 'dot'; } else { var generalRepair = 'circle'; }
if (document.getElementById("basementDoorSwitch").checked) { var basementDoor = 'dot'; } else { var basementDoor = 'circle'; }

if (document.getElementById("fireEscapesSwitch").checked) { var fireEscapes = 'dot'; } else { var fireEscapes = 'circle'; }
if (document.getElementById("awningsSwitch").checked) { var awnings = 'dot'; } else { var awnings = 'circle'; }
if (document.getElementById("railingsSwitch").checked) { var railings = 'dot'; } else { var railings = 'circle'; }

if (document.getElementById("fencesSwitch").checked) { var fences = 'dot'; } else { var fences = 'circle'; }
if (document.getElementById("stairsSwitch").checked) { var stairs = 'dot'; } else { var stairs = 'circle'; }
if (document.getElementById("gatesSwitch").checked) { var gates = 'dot'; } else { var gates = 'circle'; }

if (document.getElementById("securityDoorSwitch").checked) { var securityDoor = 'dot'; } else { var securityDoor = 'circle'; }
if (document.getElementById("windowGuardsSwitch").checked) { var windowGuards = 'dot'; } else { var windowGuards = 'circle'; }
if (document.getElementById("otherServicesSwitch").checked) { var otherServices = 'dot'; } else { var otherServices = 'circle'; }


if (docType === "Estimate") {
	var docDefinition = {
	content: [{<%- include("logo") -%>, margin: [0, 50, 0, 0]}, {text: 'Estimate', bold: true, margin: [390, -60, 0, 0], alignment: 'center', fontSize: 24},
	{ bold: true, alignment: 'right', margin: [390, 0, 0, -80], stack: [{alignment: 'center', table: { body: [
		[{text: 'Date', style: 'tableHeader'}, {text: 'Estimate #', style: 'tableHeader'}],
		[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ alignment: 'center', margin: [0, 100, 0, 0], stack: [{ table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', style: 'tableHeader'}, {text: 'CUSTOMER', style: 'tableHeader'}],
		[ {type: 'none', style: 'tableBody', ul: [
			'Jecche Steel • Glass • Aluminum LLC',
			'829 Broadway Avenue',
			'Newark, NJ 07104',
			'Phone: (862) 234-1559 Cell: (973) 368-3248',
			'Email: jecchellc@yahoo.com',
			'Web: www.jecche.com'
			]}, {type: 'none',  style: 'tableBody', ul: [
			document.getElementById("customer").value
		]}]]}}]},
	{fontSize: 10, alignment: 'left', margin: [0, 10, 0, 0], table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', style: 'tableHeader', colSpan: 4}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: generalWelding},
				{text: 'General Repair', listType: generalRepair},
				{text: 'Basement Door', listType: basementDoor}
			]}, {ul: [
				{text: 'Fire Escapes', listType: fireEscapes},
				{text: 'Awnings', listType: awnings},
				{text: 'Railings', listType: railings}
			]}, {ul: [
				{text: 'Fences', listType: fences},
				{text: 'Stairs', listType: stairs},
				{text: 'Gates', listType: gates}
			]}, {ul: [
				{text: 'Security Door', listType: securityDoor},
				{text: 'Window Guards', listType: windowGuards},
				{text: 'Other Services', listType: otherServices}
	]}]]}},
	{alignment: 'left', margin: [0, 10, 0, 0], table: { heights: ['', 220, 30, 30, 30], widths: [250, 120, '*'], body: [
	[{text: 'DESCRIPTION', style: 'tableHeader'}, {text: 'WORKSITE', style: 'tableHeader'}, {text: 'TOTAL', style: 'tableHeader'}],
	[{ type: 'none', ul: [
					{text: 'Service of:', margin: [0, 0, 0, 10], },
					{text: document.getElementById("description").value, style: 'tableBody'},
					{text: document.getElementById("note").value, fontSize: 8, margin: [0, 40, 0, 0], },
				]},
				{text: document.getElementById("worksite").value, alignment: 'center', fontSize: 10}, { type: 'none', ul: [
			{text: subTotalPrice, style: 'price'},
		]}],
		[{border: [false, false, false, false], text: ''},
			{text: 'Subotal', style: 'price'},
			{type: 'none', ul: [
			{text: subTotalPrice, style: 'price'},
		]}],
	[{border: [false, false, false, false], fontSize: 10, text: 'Address for payments by check and other documents:'},
			{text: 'Tax 6.625%', style: 'price'},
			{ type: 'none', ul: [
			{text: taxPrice, style: 'price'},
		]}],
	[{border: [false, false, false, false], fontSize: 10, bold: true, text: '14 Parkside Dr, Apt 2, Belleville NJ 07109'},
	{text: 'Total', style: 'price'},
	{type: 'none', ul: [
	{text: totalPrice, style: 'price'},
	]}]]}},
	{margin: [0, 30, 0, 0], table: { widths: ['*'], body: [
		[{text: 'NOTE',  style: 'tableHeader'}],
		[{text: 'This proposal is valid for 15 days following the date above. Estimated completion date is within 2 to 3 weeks from the date the contract is signed (possibility of delay due to unforeseen circumstances and interferences). A down payment is required when signing the contract (maximum of 3 days for a late payment if not given at signing). Down payment will be 50% of the total price and is non-refundable. The remaining 50% must be given once the service is complete. Any unforeseen or unnegotiated addition of work will be documented and may increase the total price. Please note that all items ordered in iron will rust.', fontSize: 7, alignment: 'center' }]]}}
	],
	styles: {
		tableHeader: {fillColor: '#dddddd', alignment: 'center', fontSize: 10, bold: true },
		tableBody: { fontSize: 10 },
		price: { bold: true, alignment: 'center', margin: [-10, 6, 0, 0] },
	}
};

} else if (docType === 'Invoice') {

	var docDefinition = {
	content: [{<%- include("logo") -%>, margin: [0, 50, 0, 0]}, {text: 'Invoice', bold: true, margin: [390, -60, 0, 0], alignment: 'center', fontSize: 24},
	{ bold: true, alignment: 'right', margin: [390, 0, 0, -80], stack: [{alignment: 'center', table: { body: [
		[{text: 'Date', style: 'tableHeader'}, {text: 'Invoice #', style: 'tableHeader'}],
		[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ alignment: 'center', margin: [0, 100, 0, 0], stack: [{ table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', style: 'tableHeader'}, {text: 'CUSTOMER', style: 'tableHeader'}],
		[ {type: 'none', style: 'tableBody', ul: [
			'Jecche Steel • Glass • Aluminum LLC',
			'829 Broadway Avenue',
			'Newark, NJ 07104',
			'Phone: (862) 234-1559 Cell: (973) 368-3248',
			'Email: jecchellc@yahoo.com',
			'Web: www.jecche.com'
			]}, {type: 'none',  style: 'tableBody', ul: [
			document.getElementById("customer").value
		]}]]}}]},
	{fontSize: 10, alignment: 'left', margin: [0, 10, 0, 0], table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', style: 'tableHeader', colSpan: 4}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: generalWelding},
				{text: 'General Repair', listType: generalRepair},
				{text: 'Basement Door', listType: basementDoor}
			]}, {ul: [
				{text: 'Fire Escapes', listType: fireEscapes},
				{text: 'Awnings', listType: awnings},
				{text: 'Railings', listType: railings}
			]}, {ul: [
				{text: 'Fences', listType: fences},
				{text: 'Stairs', listType: stairs},
				{text: 'Gates', listType: gates}
			]}, {ul: [
				{text: 'Security Door', listType: securityDoor},
				{text: 'Window Guards', listType: windowGuards},
				{text: 'Other Services', listType: otherServices}
	]}]]}},
	{alignment: 'left', margin: [0, 10, 0, 0], table: { heights: ['', 220, 30, 30, 30], widths: [250, 120, '*'], body: [
	[{text: 'DESCRIPTION', style: 'tableHeader'}, {text: 'WORKSITE', style: 'tableHeader'}, {text: 'TOTAL', style: 'tableHeader'}],
	[{ type: 'none', ul: [
					{text: 'Service of:', margin: [0, 0, 0, 10], },
					{text: document.getElementById("description").value, style: 'tableBody'},
					{text: document.getElementById("note").value, fontSize: 8, margin: [0, 40, 0, 0], },
				]},
				{text: document.getElementById("worksite").value, alignment: 'center', fontSize: 10}, { type: 'none', ul: [
			{text: subTotalPrice, style: 'price'},
		]}],
		[{border: [false, false, false, false], text: ''},
			{text: 'Subotal', style: 'price'},
			{ type: 'none', ul: [
			{text: subTotalPrice, style: 'price'},
		]}],
	[{border: [false, false, false, false], fontSize: 10, text: 'Address for payments by check and other documents:'},
			{text: 'Tax 6.625%', style: 'price'},
			{ type: 'none', ul: [
			{text: taxPrice, style: 'price'},
		]}],
	[{border: [false, false, false, false], fontSize: 10, bold: true, text: '14 Parkside Dr, Apt 2, Belleville NJ 07109'},
	{text: 'Total', style: 'price'},
	{type: 'none', ul: [
	{text: totalPrice, style: 'price'},
	]}]]}},
	],
	styles: {
		tableHeader: {fillColor: '#dddddd', alignment: 'center', fontSize: 10, bold: true },
		tableBody: { fontSize: 10 },
		price: { bold: true, alignment: 'center', margin: [-10, 6, 0, 0] },
	}
};

} else if (docType === 'Contract') {

	var docDefinition = {
	content: [{<%- include("logo") -%>}, {text: 'Contract', style: 'document'},
	{ style: 'tableNumber', stack: [{ style: 'date', table: { body: [
		[{text: 'Date', style: 'tableHeader'}, {text: 'Contract #', style: 'tableHeader'}],
		[document.getElementById("date").value, document.getElementById("number").value]
	]}}]},
	{ style: 'customer', stack: [{ style: 'table2', table: { widths: ['*', '*'], body: [
		[{text: 'SERVICE PROVIDER', style: 'tableHeader'}, {text: 'CUSTOMER', style: 'tableHeader'}],
		[ {type: 'none', style: 'tableBody', ul: [
				'Jecche Steel • Glass • Aluminum LLC',
				'829 Broadway Avenue',
				'Newark, NJ 07104',
				'Phone: (862) 234-1559 Cell: (973) 368-3248',
				'Email: jecchellc@yahoo.com',
				'Web: www.jecche.com'
			]}, {text: document.getElementById("customer").value, style: 'tableBody'}
			]]}}]},
	{style: 'tableServices', table: { widths: ['*', '*', '*', '*'], body: [
		[{text: 'SUMMARY OF SERVICES', style: 'tableHeader', colSpan: 4}, {}, {}, {}],
		[{ul: [
				{text: 'General Welding', listType: generalWelding},
				{text: 'General Repair', listType: generalRepair},
				{text: 'Basement Door', listType: basementDoor}
			]}, {ul: [
				{text: 'Fire Escapes', listType: fireEscapes},
				{text: 'Awnings', listType: awnings},
				{text: 'Railings', listType: railings}
			]}, {ul: [
				{text: 'Fences', listType: fences},
				{text: 'Stairs', listType: stairs},
				{text: 'Gates', listType: gates}
			]}, {ul: [
				{text: 'Security Door', listType: securityDoor},
				{text: 'Window Guards', listType: windowGuards},
				{text: 'Other Services', listType: otherServices}
	]}]]}},
	{text: 'SERVICE AGREEMENT', style: 'header' },
	{text: '1. DESCRIPTION OF SERVICES. Beginning on upon agreement to this contract Jecche Steel Glass & Aluminum LLC will provide to ' + customerSelectValue + ' the following services:', style: 'paragraph' },
	{ stack: [{ table: { heights: [0, 100], body: [
		[{text: 'Service of:', fontSize: 10, border: [false, false, false, false]}],
		[{text: document.getElementById("description").value, style: 'tableBody', margin: [0, 0, 0, 5], border: [false, false, false, false]}]
	]}}]},
	{type: 'none',  style: 'tableBody', ul: [
		{text: 'Worksite: ' + document.getElementById("worksite").value, fontSize: 8, margin: [0, 10, 0, 0] },
		{text: document.getElementById("note").value, fontSize: 8, margin: [0, 10, 0, 0], },
	]},
	{text: '2. PAYMENT FOR SERVICES. In exchange for the services ' + customerSelectValue + ' will pay Jecche Steel, Glass & Aluminum LLC according to the following schedule:', style: 'paragraph' },
	{stack: [{ table: { widths: [400, '*'],  body: [
		[{text: 'Subtotal', fontSize: 10}, {text: subTotalPrice, fontSize: 10, alignment: 'center'}],
		[{text: 'Tax 6.625%', fontSize: 10}, {text: taxPrice, fontSize: 10, alignment: 'center'}],
		[{text: 'Total', fontSize: 10}, {text: totalPrice, fontSize: 10, alignment: 'center'}],
		[{text: '1st Payment (Non Refundable Down Payment due at signing of the contract)', fontSize: 10}, {text: halfPrice, fontSize: 10, alignment: 'center'}],
		[{text: '2nd Payment (Remainder of amount upon completion)', fontSize: 10}, {text: halfPrice, fontSize: 10, alignment: 'center'}]
	]}}]},
	{text: '                              ', margin: [0, 40, 0, 0]},
	{text: '3. TERM. This Contract takes effect immediately as of the Signed Date, and will terminate automatically upon completion by Jecche Steel, Glass & Aluminum LLC of the Services required by this Contract.', margin: [0, 10, 0, 0] },
	{text: '4. WORK PRODUCT OWNERSHIP. Any copyrightable works, ideas, inventions, products, or other information developed in whole or in part by Jecche Steel, Glass & Aluminum LLC in connection with the Services will be the exclusive property of Jecche Steel, Glass & Aluminum LLC. ', style: 'paragraph' },
	{text: '5. REMEDIES. If a party defaults by failing to substantially perform any provision, term or condition of this Contract (including without limitation the failure to make a monetary payment when due), the other party may terminate the Contract by providing written notice to the defaulting party. This notice shall describe with sufficient detail the nature of the default. The party receiving such notice shall have 30 days from the effective date of such notice to cure the default(s). Unless waived by a party providing notice, the failure to cure the default(s) within such time period shall result in the automatic termination of this Contract.', style: 'paragraph' },
	{text: '6. ENTIRE AGREEMENT. This Contract contains the entire agreement of the parties, and there are no other promises or conditions in any other agreement whether oral or written concerning the subject matter of this Contract. This Contract supersedes any prior written or oral agreements between the parties.', style: 'paragraph' },
	{text: '7. WARRANTY. Jecche Steel, Glass & Aluminum LLC warrants its products and services to be free from manufacturing defects in material and workmanship to the original consumer purchaser for a period of 1 year from the date of installation. Please note, gate operators and other access control systems and accessories are supplied with original manufacturer’s warranties. During the first year, defects in these components will be repaired without charge to the customer.', style: 'paragraph' },
	{text: 'This warranty does not cover damage caused by abnormal or improper use, improper product application, accident, alteration, welding, neglect, abuse, lawn care equipment or vehicle damage, abrasion, harsh chemicals, pool chemicals or chemicals for ice removal, air pollutants, lack of maintenance, or damage cause by flood, fire or acts of God. The original consumer must contact Jecche Steel, Glass & Aluminum LLC via email at jecchellc@yahoo.com to obtain necessary warranty claim forms and start a claim process.  The original consumer purchaser will be notified by Jecche Steel, Glass & Aluminum LLC as to whether the warranty claim is approved or denied.  PROOF OF PURCHASE AND FULL PAYMENT TO JECCHE STEEL, GLASS AND ALUMINUM LLC FOR SERVICE RENDERED OR MATERIALS PROVIDED MUST ACCOMPANY ALL WARRANTY CLAIMS.', style: 'paragraph', margin: [0, 0, 0, 100] },
	{ stack: [{ table: {widths: ['*', '*'], body: [
		[ {border: [false, false, false, false], type: 'none', style: 'tableBody', ul: [
			{text: 'Jecche Steel, Glass & Aluminum LLC', margin: [0, 0, 0, 30], bold: true},
			{text: 'Name: Carlos Chafloque', margin: [0, 0, 0, 30]},
			{text: 'Signature: ____________________________________'},
		]}, {border: [false, false, false, false], type: 'none',  style: 'tableBody', ul: [
			{text: 'Service Recipient:', margin: [0, 0, 0, 30], bold: true},
			{text: 'Name: ______________________________________', margin: [0, 0, 0, 39]},
			{text: 'Signature: ___________________________________'},
		]}]
	]}}]},
	],
	styles: {
		header: {alignment: 'center', bold: true, fontSize: 16, margin: [0, 30, 0, 20]},
		paragraph: {fontSize: 10, margin: [0, 10, 0, 10]},
		logo: { margin: [0, 50, 0, 0] },
		document: { bold: true, margin: [390, -60, 0, 0], alignment: 'center', fontSize: 24 },
		tableNumber: { bold: true, alignment: 'right', margin: [390, 0, 0, -80] },
		tableHeader: {fillColor: '#dddddd', alignment: 'center', fontSize: 10, bold: true },
		tableBody: { fontSize: 10 },
		customer: { alignment: 'center', margin: [0, 100, 0, 0] },
		tableServices: { fontSize: 10, alignment: 'left', margin: [0, 10, 0, 0]},
	}
};


}
pdfMake.createPdf(docDefinition).open();
}
</script>
<%- include("footer") -%>