<%- include("header") -%>
<h1>Item</h1>
<div class="box" id="heading">
  <h1><%= Document %></h1>
</div>

<div class="box">
  <form class="form-item" action="/" method="post">
  
    <div class="container">
      
      <input id="number" type="text" value="<% if (item) { %><%= item.number%><% } %>" name="itemNumber" placeholder="Number">
      <input id="date" type="text" value="<% if (item) { %><%= item.date%><% } %>" name="itemDate" placeholder="Date">
  
    </div>

     <button type="submit" name="item">Save</button>
     <button onClick = "what();">Generate</button>
     <br>
  </form>
  <form action="/delete" method="post">
    <button type="submit" name="id" value="<% if (item) { %><%= item._id%><% } %>">Remove</button>
  </form>
      </div>


     <script type="text/javascript">
     		function what(){
     			var docDefinition = {
	 	        content: [
	 	          document.getElementById("number").value,
	 	          document.getElementById("date").value
	 	         ]
	 	       };
	 	       pdfMake.createPdf(docDefinition).open();
     		}
     </script>


<%- include("footer") -%>
